@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Xlight.otf') format('opentype');
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}



@font-face {
    font-family: 'Hatton';
    src: url('fonts/Hatton/PPHatton-Ultralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hatton';
    src: url('fonts/Hatton/PPHatton-Megalight.otf') format('opentype');
    font-weight: 50;
    font-style: normal;
}



:root {
    --bgColor: #cacf85;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Gotham', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 101vw;
    /*min-height: 115vh;*/
    font-family: var(--font);
    background: #CACF85;
    background: radial-gradient(at center top, #CACF85, #010101);
    /*background-image: url('background.png');*/
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.video-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

#backgroundVideo, #backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13vh;
    padding-bottom: 13vh;
    height: 90vh;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logo-container {
    user-select: none;
    cursor: default;
    pointer-events: none;
    text-align: center;
    backdrop-filter: blur(2px);
    border-radius: 3px;
    color: #cacf85;
}


.logo-intouch {
    font-family: 'Hatton', sans-serif;
    font-size: 56px;
    font-weight: normal;
}

.logo-sound {
    font-family: 'Gotham', sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: -16px;
}

@media (min-width: 1024px) {
    .logo-intouch {
        font-size: 84px;
    }

    .logo-sound {
        font-size: 36px;
    }
}


.main-info {
    width: auto;
    padding-top: 16vh;
    display: flex;
    gap: 1vh;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


.announcement-and-hands {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}


.announcement {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    user-select: none;
    cursor: default;
    pointer-events: none;
    backdrop-filter: blur(2px);
    border-radius: 3px;
    color: white;
}

@media (min-width: 1024px) {
    .announcement {
        font-size: 24px;
    }
}


.call-to-action-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-top: -10vh;
}

.call-to-action-button {
    background: rgba(1, 1, 1, 0.8);
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 18px;
    padding: 24px 24px;
    font-weight: 200;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    transition: background-color 0.5s linear;
    letter-spacing: 0;
    text-decoration: none;
}

@media (max-width: 1024px) {

    .call-to-action-container {
        margin-top: 0;
        padding-top: 10vh;
    }

    .call-to-action-button {
        background: rgba(1, 1, 1, 1);
        border-radius: 30px;
        font-size: 16px;
    }
}

.call-to-action-button:hover, .call-to-action-button:focus {
    background: rgba(1, 1, 1, 1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    transform: translateY(-3px);
    letter-spacing: 0;
}

.call-to-action-button:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    letter-spacing: 1px;
}

.hands-container {
    text-align: center;
    width: 100vw;
    z-index: 1000;
}

.svg-hand {
    width: 100px;
    height: auto;
    transition: all 3s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #010101;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 1s ease-out;
}

.left-hand {
    width: 40vw;
    margin-left: -40vw;
    transform: translateX(-40vw);
    position: relative;
}

.right-hand {
    width:40vw;
    margin-right: -40vw;
    transform: translateX(40vw);
    position: relative;
}

@media (max-width: 1024px) {
    .left-hand {
        width: 55vw;
        margin-left: -55vw;
        transform: translateX(-55vw);
        position: relative;
    }

    .right-hand {
        width:55vw;
        margin-right: -55vw;
        transform: translateX(55vw);
        position: relative;
    }
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.85;
    }
}

.hands-load-percentage.pulse {
    animation: pulse 1.5s ease-in-out forwards;
}

.hands-load-percentage {
    font-family: 'Hatton', sans-serif;
    font-size: 30px;
    font-weight: 50;
    color: white;
    z-index: 1000;
}

@media (min-width: 1024px) {
    .hands-load-percentage {
        font-size: 40px;
    }
}



@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
        transform: scale(1.02);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}




/*-------------------------animations-----------------------*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}





@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.events {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 1em;
}

.event-title {
    font-weight: 600;
}

.event-links {
    font-weight: 600;
    color: inherit;
}

.event-links:hover {
    background-color: rgba(256, 256, 256, 0.5);
}

.single-event {
    border: 1px solid;
    padding: 0.25em;
    transform: rotate(-0.005turn);
    cursor: default;
}

.single-event:hover {
    transform: scale(1.20);
}
