@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham/Gotham-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}



@font-face {
    font-family: 'Hatton';
    src: url('fonts/Hatton/PPHatton-Ultralight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --bgColor: #cacf85;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Gotham', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /*min-height: 115vh;*/
    font-family: var(--font);
    background: #CACF85;
    background: radial-gradient(at center top, #CACF85, #010101);
    /*background-image: url('background.png');*/
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.video-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
brightness(100%) saturate(60%) blur(4px)
}

#backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 90vh;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logo-container {
    user-select: none;
    cursor: default;
    pointer-events: none;
    text-align: center;
    backdrop-filter: blur(2px);
    border-radius: 3px;
    padding-top: 96px;
    color: #cacf85;
}


.logo-intouch {
    font-family: 'Hatton', sans-serif;
    font-size: 64px;
    font-weight: normal;
}

.logo-sound {
    font-family: 'Gotham', sans-serif;
    font-size: 32px;
    font-weight: 200;
    margin-top: -16px;
}

.main-info {
    height: 100%;
    width: auto;
    padding: 5%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


.announcement {
    font-family: 'Hatton', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    user-select: none;
    cursor: default;
    pointer-events: none;
    backdrop-filter: blur(2px);
    border-radius: 3px;
    color: white;
}

.call-to-action-button {
    background: #cacf85;
    color: #786F52;
    border-radius: 8px;
    font-size: 24px;
    padding: 16px;
    font-weight: 100;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    letter-spacing: 2px;
    text-decoration: none;
}

.call-to-action-button:hover, .call-to-action-button:focus {
    background: rgba(202, 207, 133, 0.95);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    transform: translateY(-3px);
    letter-spacing: 0;
}

.call-to-action-button:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    letter-spacing: 1px;
}

.hands-container {
    text-align: center;
    width: 100vw;
    z-index: 1000;
}

.svg-hand {
    width: 100px;
    height: auto;
    transition: all 4s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #010101;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 1s ease-out;
}

.left-hand {
    width: 55vw;
    margin-left: -10vw;
    transform: translateX(-55vw);
    position: relative;
}

.right-hand {
    width: 55vw;
    margin-right: -10vw;
    transform: translateX(55vw);
    position: relative;
}




@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
        transform: scale(1.02);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}


.loader {
    width: 40px;
    aspect-ratio: 1;
    --c: linear-gradient(#c9e265, #c9e265, #c9e265);
    --r1: radial-gradient(farthest-side at bottom,#c9e265 93%,#c9e265);
    --r2: radial-gradient(farthest-side at top   , #c9e265 93%,#c9e265);
    background:
            var(--c) ,var(--r1),var(--r2),
            var(--c) ,var(--r1),var(--r2),
            var(--c) ,var(--r1),var(--r2);
    background-repeat: no-repeat;
    animation: l2 1s infinite alternate;
}
@keyframes l2 {
    0%,25% {
        background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
        background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
    }
    50% {
        background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
        background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
    }
    75% {
        background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
        background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
    }
    95%,100% {
        background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
        background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
    }
}


/*-------------------------animations-----------------------*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}





@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.events {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 1em;
}

.event-title {
    font-weight: 600;
}

.event-links {
    font-weight: 600;
    color: inherit;
}

.event-links:hover {
    background-color: rgba(256, 256, 256, 0.5);
}

.single-event {
    border: 1px solid;
    padding: 0.25em;
    transform: rotate(-0.005turn);
    cursor: default;
}

.single-event:hover {
    transform: scale(1.20);
}
